PORT=3000
DATABASE_URL="postgresql://cyberyan:cyberyan@localhost:5432/cyberyan?schema=public"
ELASTICSEARCH_NODE="http://localhost:9200"
ELASTICSEARCH_INDEX="profiles"
LINKEDIN_DATA_PATH="../../docs/300 user linkedin.txt"
